<div class="jumbotron-mt-4">
    <h1 class="display-4" style="color:white">Notes App NodeJS</h1>
    <p class="lead" style="color:white">Bienvenido a mi aplicación.</p>
    <hr class="my-4">
    <p style="color:white">He creado esta aplicación para practicar NodeJS con express, para los estilos he usado Bootstrap. Consiste en una sencilla aplicacion de login donde cada usuario puede almacenar 
        notas. Para la base de datos he usado MONGODB.
    </p>
    <h2>CARLOS CORTINAS SÁNCHEZ</h2>
  
</div>